/* 
* Default theme for Ridcully
*/

html {background: #ccc;}

body {
  margin: 8px auto;
  width: 934px;
  padding: 8px;
  background: #ccf;
  border: 1px dotted #000000;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: #333333;
}
header {
  
}
header h1 {
  font-family: 'Courier New',Courier,monospace;
}
.content h1 {
    text-transform: uppercase;
    border-bottom: 4px double #333333;
}
/* navigation menu
--------------------------------------------------------

*/
nav.navmenu {
  display: block;
  padding: 0.2em 1em 0 1em;
  background: #99f;
  border-bottom: 2px solid #666;
}
nav.navmenu a {
  padding: 0.3em 1em 0 1em;
  color: #555;
  font-family: Tahoma, Geneva, sans-serif;
  text-decoration:none;
}
nav.navmenu a:link    { }
nav.navmenu a:visited { }
nav.navmenu a:hover   {
  color: #99f; background: #666;
}
nav.navmenu a:active  { }

footer {
  display: block;
}
footer a {
    font: italic 0.8em Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #999999;
}
footer a:link    { }
footer a:visited { }
footer a:hover   { text-decoration:underline;  color: #333333; }
footer a:active  { }